<div class="background">
  <div class="flex flex-col items-center justify-around h-screen px-6">
    <div
      class="w-full bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg py-8 space-y-6 px-8 text-white max-w-[480px]">
      <h1 class="text-center text-2xl">Sign In.</h1>

      <form [formGroup]="formLogin" (ngSubmit)="onSubmit($event)" class="flex flex-col space-y-4">
        <label for="email" class="text-sm flex- flex-col space-y-2">
          <p>Email</p>
          <input type="text" formControlName="email" id="email"
            [ngClass]="(formLogin.get('email')?.invalid && (formLogin.get('email')?.touched || formLogin.get('email')?.dirty))  ? 'input-red-error' : 'input-bg-active-white'"
            class="w-full text-black">
          <ng-container
            *ngIf="formLogin.get('email')?.invalid && (formLogin.get('email')?.touched || formLogin.get('email')?.dirty)">
            <p *ngIf="formLogin.get('email')?.hasError('email')" class="text-red-500">Email Tidak Valid</p>
            <p *ngIf="formLogin.get('email')?.hasError('required')" class="text-red-500">Email Harus diisi</p>
            <p *ngIf="formLogin.get('email')?.hasError('usernameNotFound') && !formLogin.get('email')?.hasError('required') && !formLogin.get('email')?.hasError('email')"
              class="text-red-500">Email Tidak
              Terdaftar</p>
          </ng-container>
        </label>
        <label for="password" class="text-sm flex- flex-col space-y-2">
          <p>Password</p>
          <input type="password" formControlName="password" id="password"
            [ngClass]="(formLogin.get('password')?.invalid && (formLogin.get('password')?.touched || formLogin.get('password')?.dirty)) ? 'input-red-error' : 'input-bg-active-white'"
            class="w-full text-black">
          <ng-container
            *ngIf="formLogin.get('password')?.invalid && (formLogin.get('password')?.touched || formLogin.get('password')?.dirty)">
            <p *ngIf="formLogin.get('email')?.hasError('required')" class="text-uk-danger-3">Password Tidak Valid</p>
          </ng-container>
        </label>

        <button type="submit" class="btn-primary">LOGIN</button>
      </form>
    </div>
  </div>
</div>
