/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  background-color: #1A5289 !important;
  @apply rounded-md py-4;
}

.input-red-error {
  @apply bg-uk-danger-1 rounded-input h-input border-0 outline-none;
}

.input-bg-active-white {
  @apply bg-uk-neutral-1;
  border: 1px solid #6bb9cd !important;
  height: 40px;
}

.shadow-box {
  box-shadow: 0px 0px 16px rgba(154, 153, 153, 0.25);
  border: 1px solid rgba(174, 175, 178, 0.2);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
